@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&display=swap');

:root{
    --blue:#5786FE;
    --blue-dark:#3C60BC;
    --grey-light:#D2D2D2;
    --grey-text:#7f7f7f;
    --red:#F86969;
    --green:#93C773;
    --white:#fff;

}
.bg-blue{
    background:var(--blue);
}
.animate{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
body{
    font-family: 'Karla', sans-serif;
background-repeat: no-repeat;
height: 100vh;
font-weight: 200;
background: #DA4453;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
.container-app{
    max-width: 600px;
}

.shadow-app{
    -webkit-box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 8%);
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 8%);
}

.input-todo{
    border-radius: 100px;
    padding: 23px 0 23px 23px!important;
    font-size: 18px;
    font-weight: 400;
}
form{
    position:relative;
}
.plus-button{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: none;
    position: absolute;
    background: var(--blue);
    top: 4px;
    right: 7px;
    color: var(--white);
}
.plus-button ion-icon{
font-size: 25px;
font-weight: 900;
}
.plus-button:hover{
background:var(--blue-dark);
}

.list-menu, .button-actions{
    margin:0;
    padding:0;
    list-style: none;
    max-width: auto;
}
.list-menu li {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color:var(--grey-light);
}
.active-menu{
    color:var(--blue)!important;
}

.list-menu li:hover {
   cursor:pointer;
   color:var(--blue-dark)!important;
}
hr{
    margin-top:3px;
    margin-bottom:10px;
}
.w-100{
    width: 100%;
    margin: 0 auto;
}
.card{
    width: 100%;
    margin:0 auto;
-webkit-box-shadow: 4px 4px 14px 2px #0b0b0b21;box-shadow: 4px 4px 14px 2px #0b0b0b21;
border:transparent 1px solid;
}
.card-body{
    padding:0;
}
.card:hover{

    -webkit-box-shadow: 4px 4px 14px 2px #0b0b0b26;box-shadow: 4px 4px 14px 2px #0b0b0b26;
    background:var(--blue-dark);

    border: #e9e9e9 solid 1px;
}
.card:hover p{
    color:var(--white);
}
.card-body p{
    font-weight: 400;
    font-size: 16px;
    color: var(--grey-text);
}

.button-actions li{
    list-style: none;
    display: inline-block;
}

.delete,.complete{
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100px;
    font-size: 16px;
    padding-top: 6px;
    margin-left: 10px;
}
.delete:hover,.complete:hover{
    cursor:pointer;
    opacity: .6;
}
.delete{
background:var(--red);
color:var(--white);
}
.complete{
    background:var(--green);
    color:var(--white);
}


    .button-action-container{
background:var(--blue);
    }

    .row-cards{
        max-height: 280px;
        overflow-y: scroll;
        padding-left:20px;
        padding-right: 20px;
    
    }
    ::-webkit-scrollbar {
        width: 5px;
        height: 100px;
        border-radius: 100px;
    }
    
    ::-webkit-scrollbar-track-piece  {
        background-color: #C2D2E4;
        border-radius: 100px;
    }
    
    ::-webkit-scrollbar-thumb:vertical {
        height: 4px;
        background-color: var(--blue);
        border-radius: 50px;
    }